<div class="col-md-6 offset-md-3">
<h3>Addd Book</h3>
<form (ngSubmit) = "onSubmit()">

    <div class="form-group">
        <label>Author</label>
        <input type="text" class="form-control" id = "author"
        [(ngModel)] = "book.author" name = "author">
    </div>

    <div class="form-group">
        <label>Country</label>
        <input type="text" class="form-control" id = "country"
        [(ngModel)] = "book.country" name = "country">
    </div>

    <div class="form-group">
        <label>Languge</label>
        <input type="text" class="form-control" id = "languge"
        [(ngModel)] = "book.language" name = "languge">
    </div>

    <div class="form-group">
        <label>Pages</label>
        <input type="text" class="form-control" id = "pages"
        [(ngModel)] = "book.pages" name = "pages">
    </div>

    <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" id = "title"
        [(ngModel)] = "book.title" name = "title">
    </div>

    <div class="form-group">
        <label>Year</label>
        <input type="text" class="form-control" id = "year"
        [(ngModel)] = "book.year" name = "year">
    </div>

    <button class="btn btn-success" type="submit">Add Book</button>
</form>
</div>
